Question 1

The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

• Sort the list and find the min and max age

• Add the min age and the max age again to the list

• Find the median age (one middle item or two middle items divided by two)

• Find the average age (sum of all items divided by their number)

• Find the range of the ages (max minus min)

In [13]:
# given list of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("ages before sorting: ",ages)

# sorting the list of ages in ascending order
ages.sort() # using the predefined sort() method to sort the elements of the list in ascending order
print("ages after sorting: ",ages)

# finding minimum and maximun values for the list of ages
min_value = min(ages) # using built-in min() function to return the smallest age in the list of ages
max_value = max(ages) # using built-in max() function to return the largest age in the list of ages
print("minimum age is: ",min_value) 
print("maximum age is: ",max_value) 

# adding minimum and maximum values to the ages list
ages.insert(0,min_value) # to make the list appear sorted we add the min value at the start of the list by using insert method with index 0
ages.append(max_value) # using the append method we add the max value at the end of the list
print("ages after adding the min and max values: ",ages)

# finding the median age
mid_index = int(len(ages)/2) # finding the middle index of the list
median_age = (ages[mid_index] + ages[len(ages)-mid_index-1]) / 2 # Calculating the median by considering the items of one index in case of odd numbered list and two indices in case of even numbered list
print("median age in the given list of ages: ",median_age)

# finding the average age
n = len(ages) # finding the length of ages using len() function
sum_ages = sum(ages) # finding the sum of ages using the sum() function
average_age = sum_ages/n
print("average age in the list of ages: ",average_age)

# finding the range of the ages
print("range of the ages list: ", max_value-min_value)

ages before sorting:  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages after sorting:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum age is:  19
maximum age is:  26
ages after adding the min and max values:  [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
median age in the given list of ages:  24.0
average age in the list of ages:  22.75
range of the ages list:  7

Question 2

• Create an empty dictionary called dog

• Add name, color, breed, legs, age to the dog dictionary

• Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

• Get the length of the student dictionary

• Get the value of skills and check the data type, it should be a list

• Modify the skills values by adding one or two skills

• Get the dictionary keys as a list

• Get the dictionary values as a list

In [7]:
dog={} # creating empty dictonary dog

#Add name, color, breed, legs, age to the dog dictionary
dog["name"] = "Cooper"
dog["color"] = "White"
dog["breed"] = "Samoyed"
dog["legs"] = 4
dog["age"] = 5
print("Dog dictonary: ",dog)

# Creating a student dictionary and add first_name, last_name, gender, age, marital status,
# skills, country, city and address as keys for the dictionary
student ={
    "first_name": "Virri",
    "last_name": "Sushmitha",
    "gender": "Female",
    "age": 26,
    "marital status": "married",
    "skills": ["C", "Java", "Python", "SQL"],
    "country": "USA",
    "city": "Kansas City",
    "Address": "H.No: 2/3/12, ABC Apartment, Kansas City"
}
print("\nStudent Dictonary: ", student)

# length of the student dictionary
print("\nLength of the student dictionary: ", len(student)) # using in-built len function to count the length of the dictonary

# get the value of the skills key in the student dictonary
print("\nSkills are: ", student["skills"])

# get the data type of the skills in the student dictonary
print("\nData Type of the skills: ",type(student["skills"])) # using type function to find the type of skills key

# Modify the skills values by adding one or two skills
student["skills"].extend(["Advanced Data Structures", "C++"]) # adding two more values to the skills key using extend() method
print("\nSkills after modifying: ", student["skills"])

# Get the dictionary keys as a list
student_keys = student.keys() # using in-built keys() method to get all keys from the dictonary.
print("\nStudent dictonary keys: ",student_keys )

# Get the dictonary values as a list
student_values = student.values() # using in-built values() method to get all values from the dictonary.
print("\nStudent dictonary values: ", student_values)

Dog dictonary:  {'name': 'Cooper', 'color': 'White', 'breed': 'Samoyed', 'legs': 4, 'age': 5}

Student Dictonary:  {'first_name': 'Virri', 'last_name': 'Sushmitha', 'gender': 'Female', 'age': 26, 'marital status': 'married', 'skills': ['C', 'Java', 'Python', 'SQL'], 'country': 'USA', 'city': 'Kansas City', 'Address': 'H.No: 2/3/12, ABC Apartment, Kansas City'}

Length of the student dictionary:  9

Skills are:  ['C', 'Java', 'Python', 'SQL']

Data Type of the skills:  <class 'list'>

Skills after modifying:  ['C', 'Java', 'Python', 'SQL', 'Advanced Data Structures', 'C++']

Student dictonary keys:  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'Address'])

Student dictonary values:  dict_values(['Virri', 'Sushmitha', 'Female', 26, 'married', ['C', 'Java', 'Python', 'SQL', 'Advanced Data Structures', 'C++'], 'USA', 'Kansas City', 'H.No: 2/3/12, ABC Apartment, Kansas City'])

Question 3

• Create a tuple containing names of your sisters and your brothers (imaginary siblings are 
fine)

• Join brothers and sisters tuples and assign it to siblings

• How many siblings do you have?

• Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [15]:
#Creating a tuple containing names of your sisters and your brothers
sisters = ("Mary","Jenni")
brothers = ("John", "Mark")

#joining sisters and brothers tuple
siblings = sisters + brothers
print("Siblings tuple: ",siblings)

#Total siblings
print("\nTotal number of siblings: ",len(siblings))

#Modify the siblings tuple and add the name of your father and mother and assign it to family_member
y = list(siblings) #converting siblings tuple to list using list() constructor as we can't directly modify tuple (as it is immutable)
y.append("Oliver") #adding father name
y.append("Emma")#adding mother name
family_member = tuple(y) #converting list to tuple
print("\nFamily members tuple:",family_member)

Siblings tuple:  ('Mary', 'Jenni', 'John', 'Mark')

Total number of siblings:  4

Family members tuple: ('Mary', 'Jenni', 'John', 'Mark', 'Oliver', 'Emma')

Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

A = {19, 22, 24, 20, 25, 26}

B = {19, 22, 20, 25, 26, 24, 28, 27}

age = [22, 19, 24, 25, 26, 24, 25, 24]

• Find the length of the set it_companies

• Add 'Twitter' to it_companies

• Insert multiple IT companies at once to the set it_companies

• Remove one of the companies from the set it_companies

• What is the difference between remove and discard

• Join A and B

• Find A intersection B

• Is A subset of B

• Are A and B disjoint sets

• Join A with B and B with A

• What is the symmetric difference between A and B

• Delete the sets completely

• Convert the ages to a set and compare the length of the list and the set

In [32]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length of the it_companies: ",len(it_companies)) #Finding length of the set

it_companies.add('Twitter') # adding twitter into the set
print("\nAfter adding twitter into the set: ",it_companies) #set after adding the twitter

it_companies.update({'Cisco', 'Tesla','Samsung','Walmart Inc.'}) #inserting multiple company names to  the set
print("\nAfter adding multiple companies into the set: ",it_companies) #set after adding companies

it_companies.remove("Cisco") #removing item from set using remove function
print("\nAfter removing Cisco from the set: ",it_companies)

#Difference between discard and remove functions
#discard function will not give any error when we remove item which is not in the set whereas
# if we try to remove item which is not in the set using remove function it gives error.

#Removing item which is not in the set using discard function
it_companies.discard("Cisco") # No error

#Removing item which is not in the set using remove function
#it_companies.remove("Cisco") # KeyError: 'Cisco' 

#Join A and B sets
S =  A.union(B)
print("\nSet after joining two sets A and B:",S)

# Intersection of two sets A and B
I = A.intersection(B)
print("\nIntersection of sets A and B:",I)

#Is A subset of B
print("\nChecking if A is subset of B: ", A.issubset(B))

#Check if A and B are disjoint sets
print("\nChecking if A and B are disjoint sets: ", A.isdisjoint(B))

#Join A with B and B with A
S = A.union(B)
print("\nJoining A with B:",S )

S = B.union(A)
print("\nJoining B with A:",S)

#symmetric difference between A and B
print( "\nSynmmetric difference between A and B: ",A.symmetric_difference(B))

#Delete the sets completely
A.clear()
B.clear()
print("\nA and B sets after deleteing: ",A,",",B)

#Converting the ages to a set and compare the length of the list and the set.
print("\nList of ages: ", age)
set_ages = set(age)
print("\nAges set after converting from list: ", set_ages)
#comparing the length of ages list and ages set
print("\nlength of the age list: ", len(age))
print("\nLength of the age set: ", len(set_ages))
if(len(age)==len(set_ages)):
    print("\nLength of the age list and age set are not equal")
#Length of the set of ages is less compared to length of list of ages as the set contains only unique values

Length of the it_companies:  7

After adding twitter into the set:  {'Microsoft', 'IBM', 'Facebook', 'Twitter', 'Google', 'Amazon', 'Oracle', 'Apple'}

After adding multiple companies into the set:  {'Microsoft', 'IBM', 'Tesla', 'Google', 'Oracle', 'Twitter', 'Apple', 'Walmart Inc.', 'Cisco', 'Amazon', 'Samsung', 'Facebook'}

After removing Cisco from the set:  {'Microsoft', 'IBM', 'Tesla', 'Google', 'Oracle', 'Twitter', 'Apple', 'Walmart Inc.', 'Amazon', 'Samsung', 'Facebook'}

Set after joining two sets A and B: {19, 20, 22, 24, 25, 26, 27, 28}

Intersection of sets A and B: {19, 20, 22, 24, 25, 26}

Checking if A is subset of B:  True

Checking if A and B are disjoint sets:  False

Joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}

Joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}

Synmmetric difference between A and B:  {27, 28}

A and B sets after deleteing:  set() , set()

List of ages:  [22, 19, 24, 25, 26, 24, 25, 24]

Ages set after converting from list:  {19, 22, 24, 25, 26}

length of the age list:  8

Length of the age set:  5

Question 5

The radius of a circle is 30 meters.

• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_

• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_

• Take radius as user input and calculate the area

In [17]:
import math # Importing math library to get pi value
radius = int(input("Enter radius in meters: ")) # Taking radius as input 
_area_of_circle_ = (math.pi)*radius*radius # finding area of the circle using pi*r*r formula
_circum_of_circle_ = 2*(math.pi)*radius # finding circumference of the circle using 2*pi*r formula
print("Area of the circle with radius {} is {}\nCircumference of the circle with radius {} is {}.".format(radius, _area_of_circle_, radius, _circum_of_circle_) )

Enter radius in meters: 30
Area of the circle with radius 30 is 2827.4333882308138
Circumference of the circle with radius 30 is 188.49555921538757.

Question 6

“I am a teacher and I love to inspire and teach people”

• How many unique words have been used in the sentence? Use the split methods and set 
to get the unique words

In [2]:
str1 = "I am a teacher and I love to inspire and teach people"
unique_words_set = set(str1.split(" ")) #converting the string to set by splitting at space
print("Total unique words in the string: ", len(unique_words_set)) #using len() function get total unique words
print("Unique words in the set: ",unique_words_set) # as we are using set, it considers only

Total unique words in the string:  10
Unique words in the set:  {'I', 'love', 'to', 'teacher', 'am', 'a', 'teach', 'and', 'people', 'inspire'}

Question 7

Use a tab escape sequence to get the following lines.

Name Age Country City 

Asabeneh 250 Finland Helsinki

In [24]:
print('Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki') # adding a tab space

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

Question 8

Use the string formatting method to display the following:

radius = 10

area = 3.14 * radius ** 2

“The area of a circle with radius 10 is 314 meters square.”

In [2]:
radius = 10
pi = 3.14
area = pi * radius ** 2 
result = 'The area of a circle with radius {} is {}  meters square.'.format(radius,area) #using format function to take the value of the radius and area into the string
print(result)

The area of a circle with radius 10 is 314.0  meters square.

Question 9

Write a program, which reads weights (lbs.) of N students into a list and convert these weights to 
kilograms in a separate list using Loop. N: No of students (Read input from user)

Ex: L1: [150, 155, 145, 148]

Output: [68.03, 70.3, 65.77, 67.13]

In [28]:
n = int(input("No.of Students:")) #taking no.of students as input
weight_in_lbs = [] #taking empty list for weight in lbs
print("Enter the weight of students in lbs")
for i in range(n): #looping and storing values of each student weight in the list
    weight_in_lbs.append(int(input()))
weight_in_kgs = [] #taking empty list for weight in kgs
for i in range(n): #looping and converting each weight into kgs and appending into the list
    weight_in_kgs.append(weight_in_lbs[i]* 0.45359237)
print("List of all students weight in kgs: ", weight_in_kgs)

No.of Students:4
Enter the weight of students in lbs
150
145
155
148
List of all students weight in kgs:  [68.0388555, 65.77089365, 70.30681735, 67.13167076]